h1 {
    text-align: center;
    font-size: 4vw;
    color: #141301;
}

p {
    font-size: 3vmin;
}

body {
    background: black;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

body::-webkit-scrollbar {
    display: none;
}

.navLogo {
    width: 30vh;
    height: 7vh;
}

.navLogo:hover {
    padding: 5px;
    box-shadow: 0 0 5px 2px #ffd25a;
}

.bodyLogo {
    width: 20vw;
    height: 5vw;
    align-self: center;
    margin: 0;
}

.togglerButton {
    width: 6vh;
    height: 6vh;
    padding: 0;
}

.togglerButton:hover {
    transition: 500ms;
    background-color: #52b788;
    border: 1px solid;
}

footer {
    color: #141301;
    background-color: #ffd25a;
}

footer a {
    color: #141301;
}

.toggleSvg {
    width: 4vh;
    height: 4vh;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #141301;
    border-bottom: 4px #ffd25a double;
}

.navbar-nav .nav-link {
    font-family: 'Montserrat', sans-serif;
    color: #ffd25a;
    font-weight: 600;
    font-size: 16px;
    margin-right: 3em;
}

.nav-link:nth-child(3) {
    margin-right: 30px;
}

.navbar-nav .nav-link:hover {
    box-shadow: 0 0 4px 2px #ffd25a;
}

.sectionImg {
    width: 70vmin;
    height: 40vmin;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
    border-radius: 2%;
    margin-bottom: 3%;
}

.col {
    color: wheat;
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 50vw;
    padding: 10px 5vw;
    color: wheat;
    border: 0;
    margin: 0;
}

.afterFirstSection {
    padding-top: 80px;
    min-height: 30vw;
}

.firstSection {
    background-color: #48A9A6;
}

.wave {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 106px;
    transform: rotateY(180deg);
}

.wave .shape-fill {
    fill: #141301;
}

.wave2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave2 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 90px;
}

.wave2 .shape-fill {
    fill: #48A9A6;
}

.wave3 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.wave3 svg {
    position: relative;
    display: block;
    width: calc(183% + 1.3px);
    height: 129px;
}

.wave3 .shape-fill {
    fill: #141301;
}

footer {
    border-top: 1px solid;
    border-color: wheat;
}

* {
    box-sizing: border-box
}

.slideshow-container {
    width: 100%;
    position: relative;
    margin: auto;
    background: #141301;
}

.mySlides {
    width: 100%;
    border-bottom: 2px double #ffd25a;
    background: wheat;
}

.slide1 {
    width: 100%;
    height: 50vw;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('images/people.jpg');
}

.slide2 {
    width: 100%;
    height: 50vw;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0)),
    url('images/kitchen.jpg');
}

.slide3 {
    width: 100%;
    height: 50vw;
    background-size: cover;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1) 5%, rgba(0, 0, 0, 0)),
    url('images/house.jpg');
}

.leftButton {
    position: absolute;
    width: 6vw;
    min-width: 2em;
    min-height: 2em;
    height: 6vw;
    border: 0;
    border-radius: 5px;
    padding: 0;
    z-index: 1;
    margin-top: 22vw;
    left: 2%;
    background: none;
}

.leftButton:hover {
    border: 1px solid #141301;
    background: #ffd25a;
}

.rightButton {
    border: 0;
    position: absolute;
    width: 6vw;
    min-width: 2em;
    min-height: 2em;
    border-radius: 5px;
    padding: 0;
    height: 6vw;
    z-index: 1;
    background: none;
    right: 2%;
    margin-top: 22vw;
    justify-content: center;
}

.rightButton:hover {
    border: 1px solid #141301;
    background: #ffd25a;
}

.divInSlides {
    left: 0;
    text-align: left;
    padding-left: 15vw;
    padding-top: 6vw;
    font-size: 3vh;
    color: white;
    width: 80%;
}

.titleInSlides {
    text-align: left;
    color: white;
    font-size: 5vh;
}

.subTitleInSlides {
    font-size: 3vh;
}

.goButtonInSlides:hover {
    background: #141301;
    color: white;
    border: 1px solid white;
}

.firstSection .col {
    width: 15rem;
    height: 14rem;
    padding-bottom: 1rem;
    margin: 0;
}

.card {
    width: 14rem;
    height: 12rem;
    border-radius: 5px;
    border: 0;
    cursor: pointer;
    background: #141301;
}

.card:hover {
    box-shadow: 0 0 5px 2px #141301;
}

.cardImg img {
    width: 14rem;
    height: 8rem;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.cardBody {
    padding-top: 5px;
    text-align: center;
    color: #ffd25a;
}

.firstSection .col a {
    text-decoration: none;
}

.secondSection {
    background: #141301;
}

.secondSection h1 {
    color: #ffd25a;
}

.secondSection p {
    color: #ffd25a;
}

.thirdSection {
    border-bottom: 2px solid black;
    background: #F7DBA7;
    padding-bottom: 30vh;
}

.thirdSection h1 {
    font-size: 3vw;
    text-align: left;
    margin-top: 5rem;
    color: #141301;
}

.thirdSection p {
    width: 100%;
    color: #141301;
}

.myRow {
    display: flex;
}

.contacts {
    text-align: right;
    flex: 1;
    margin-top: 0;
    padding-top: 0;
    width: 50%;
}

.contacts h1 {
    text-align: right;
}

.contacts p {
    font-size: 2vw;
}

.socials {
    text-align: left;
    flex: 1;
    width: 50%;
}

.socials a {
    text-decoration: none;
    margin-right: 20px;
    color: #141301;
    font-size: 4vw;
    width: 6vw;
    height: 6vw;
    margin-bottom: 10px;
}

.facebook:hover {
    color: #3b5998;
}

.twitter:hover {
    color: #1da1f2;
}

.instagram:hover {
    color: #c32aa3;
}

.contacts button {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    background: transparent;
}

.contacts button:hover {
    color: white;
    background: #52b788;
}


@media screen and (min-width: 701px) {
    .thirdSection {
        height: 10vh !important;
    }

    .titleInSlides {
        font-size: 4vw;
        margin-bottom: 5vh;
    }

    .subTitleInSlides {
        font-size: 2vw;
    }

    .goButtonInSlides {
        margin-top: 5vh;
        width: 10em;
        border: 1px solid black;
        height: 2em;
        font-size: 3vh;
        background: #ffd25a;
    }

    .clickImageContainer {
        width: 70%;
        height: 9vw;
        margin-top: -10vw;
        position: absolute;
        opacity: 0.7;
        margin-left: 15%;
    }

    .clickImage {
        cursor: pointer;
        height: 9vw;
        border: 1px solid #ffd25a;
    }
}

@media screen and (max-width: 700px) {
    .thirdSection h1 {
        font-size: 3vh;
    }

    .titleInSlides {
        margin-top: 1em;
        font-size: 6vw;
    }

    .subTitleInSlides {
        margin-top: 9em;
        font-size: 4vw;
    }

    .goButtonInSlides {
        background: #ffd25a;
        border: 1px solid black;
        width: 10em;
        font-size: 4vw;
        height: 2em;
    }

    .slideshow-container {
        height: 110vw;
    }

    .clickImageContainer {
        width: 100%;
        position: absolute;
        margin: 40% auto;
        opacity: 0.7;
    }

    .clickImage {
        height: 15vw;
        cursor: pointer;
        width: 100%;
        border: 1px solid #ffd25a;
    }

    .facebook {
        color: #3b5998 !important;
    }

    .twitter {
        color: #1da1f2 !important;
    }

    .instagram {
        color: #c32aa3 !important;
    }
    .thirdSection {
        height: 30rem !important;
    }

    .myRow {
        display: inline-block;
    }

    .socials {
        width: 100%;
    }

    .socials a {
        font-size: 4vh;
    }

    .contacts {
        text-align: right;
        margin-top: -2vh;
        width: 100%;
    }

    .contacts p {
        font-size: 2vh;
    }
}

